.navbar-light .navbar-nav .nav-link.active-link
{
    color:blue;
    font-weight:100;
}
.navbar-light .nav-link.active-link
{
    text-decoration: underline;
}
.container-fluid{
    background-color: #a881af;
    height: 80px;
    margin-top: -10px;
}