 
  <div class="main">
      <h2>Welcome to Friendship Zone</h2>
      <div class="image">
        <p></p>
      </div>
      <p>Make new friends, join groups and connect with people who share your interests. Sign up now to start building your network.</p>
      <button>Sign Up</button>
</div>
    <div class="group">
      <h2>Featured Groups</h2>
      <ul>
        <li>
           <div class="img1">
              <p> </p>
           </div> 
        <div class="movie">
          <h3>Movie Lovers</h3>
          <p>Join other movie enthusiasts to share your favorite movies, series and channels.</p>
          <button>Join Group</button>
        </div>
        </li>
        <li>
            <div class="img2">
                <p> </p>
            </div>
        <div class="advent">   
          <h3>Hiking Adventures</h3>
          <p>Discover new trails, plan trips and connect with other nature lovers and plan a trip with them.</p>
          <button>Join Group</button>
        </div> 
        </li>
        <li>
            <div class="img3">
                <p> </p>
            </div>
        <div class="innov">   
          <h3>Tech Innovators</h3>
          <p>Connect with other tech enthusiasts to share knowledge, collaborate on projects and explore new ideas.</p>
          <button>Join Group</button>
        </div> 
        </li>
      </ul>
    </div>
